footer{
    
    #social-icons{
        background-color: $secondary-color;
        text-align: center;
        color: $light-color;
    }

    #copyright{
        background-color: $dark-color;
        text-align: center;
        color: $light-color;
    }

    a{
        color: $light-color;
    }
    a:hover{
        color: $primary-color;
        text-decoration: none;
    }
}